# Análise de Dados  - Dengue

#### Imports

In [70]:
import pandas as pd
import numpy as np

## Leitura dos Arquivos

In [71]:
casos2013 = pd.read_csv('casos-dengue2013.csv',delimiter=';')
casos2014 = pd.read_csv('casos-dengue2014.csv',delimiter=';')
casos2015 = pd.read_csv('casos-dengue2015.csv',delimiter=';',low_memory=False)
casos2016 = pd.read_csv('casos-dengue2016.csv',delimiter=';',encoding='latin1',low_memory=False)
casos2017 = pd.read_csv('caso-dengue2017.csv',delimiter=';')
casos2018 = pd.read_csv('caso-dengue2018.csv',delimiter=';')

In [72]:
display(casos2013[:5])

,nu_notificacao,tp_notificacao,co_cid,dt_notificacao,ds_semana_notificacao,notificacao_ano,co_uf_notificacao,co_municipio_notificacao,id_regional,co_unidade_notificacao,...,tp_evolucao_caso,dt_obito,dt_encerramento,st_ocorreu_hospitalizacao,dt_internacao,co_uf_hospital,co_municipio_hospital,co_unidade_hospital,nu_ddd_hospital,nu_telefone_hospital
0,1224587,2,A90,2013/01/04 00:00:00,201301,2013,26,261160,1497.0,3008002,...,1.0,NaN,2013/02/20 00:00:00,2.0,NaN,NaN,NaN,NaN,NaN,2013008.0
1,1411256,2,A90,2013/01/07 00:00:00,201302,2013,26,261160,1497.0,5540739,...,1.0,NaN,2013/02/18 00:00:00,9.0,NaN,NaN,NaN,NaN,NaN,2013008.0
2,1418852,2,A90,2013/02/20 00:00:00,201308,2013,26,261160,1497.0,6481876,...,1.0,NaN,2013/03/29 00:00:00,9.0,NaN,NaN,NaN,NaN,NaN,2013018.0
3,1292875,2,A90,2013/01/03 00:00:00,201301,2013,26,261160,1497.0,2517140,...,1.0,NaN,2013/01/25 00:00:00,2.0,NaN,NaN,NaN,NaN,NaN,2013004.0
4,1416160,2,A90,2013/01/07 00:00:00,201302,2013,26,261160,1497.0,3008002,...,1.0,NaN,2013/01/10 00:00:00,9.0,NaN,NaN,NaN,NaN,NaN,2013005.0

In [73]:
display(casos2014[:5])

,nu_notificacao,tp_notificacao,co_cid,dt_notificacao,ds_semana_notificacao,notificacao_ano,co_uf_notificacao,co_municipio_notificacao,id_regional,co_unidade_notificacao,...,tp_evolucao_caso,dt_obito,dt_encerramento,st_ocorreu_hospitalizacao,dt_internacao,co_uf_hospital,co_municipio_hospital,co_unidade_hospital,nu_ddd_hospital,nu_telefone_hospital
0,1552181,2,A90,2014/01/17 00:00:00,201403,2014,26,261160,1497.0,6481876,...,1.0,NaN,2014/01/20 00:00:00,9.0,NaN,NaN,NaN,NaN,NaN,2014004.0
1,1558049,2,A90,2014/04/10 00:00:00,201415,2014,26,261160,1497.0,20516,...,1.0,NaN,2014/06/25 00:00:00,2.0,NaN,NaN,NaN,NaN,NaN,2014026.0
2,1553818,2,A90,2014/01/07 00:00:00,201402,2014,26,261160,1497.0,2802783,...,1.0,NaN,2014/02/14 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,2014008.0
3,1552193,2,A90,2014/01/07 00:00:00,201402,2014,26,261160,1497.0,6726852,...,1.0,NaN,2014/01/28 00:00:00,2.0,NaN,NaN,NaN,NaN,NaN,2014005.0
4,1552185,2,A90,2014/01/17 00:00:00,201403,2014,26,261160,1497.0,6481876,...,1.0,NaN,2014/01/20 00:00:00,2.0,NaN,NaN,NaN,NaN,NaN,2014004.0

In [74]:
display(casos2015[:5])

,nu_notificacao,tp_notificacao,co_cid,dt_notificacao,ds_semana_notificacao,notificacao_ano,co_uf_notificacao,co_municipio_notificacao,id_regional,co_unidade_notificacao,...,plasmatico,evidencia,plaq_menor,complica,ds_obs,tp_sistema,tp_duplicidade,dt_digitacao,tp_fluxo_retorno,ds_identificador_registro
0,1334503,2,A90,2015-12-28 00:00:00,201552,2015,26,261160,1497,2711923,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2016-01-04 00:00:00,1,7.0
1,2126608,2,A90,2015-11-06 00:00:00,201544,2015,26,261160,1497,1015,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2016-01-08 00:00:00,1,4.0
2,2155510,2,A90,2015-12-22 00:00:00,201551,2015,26,261160,1497,531,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2016-01-07 00:00:00,0,4.0
3,82053,2,A90,2015-11-25 00:00:00,201547,2015,26,261160,1497,20516,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2016-01-06 00:00:00,1,4.0
4,2155728,2,A90,2015-12-10 00:00:00,201549,2015,26,261160,1497,6481876,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2016-01-11 00:00:00,1,4.0

In [75]:
display(casos2016[:5])

,nu_notificacao,tp_notificacao,co_cid,dt_notificacao,ds_semana_notificacao,notificacao_ano,co_uf_notificacao,co_municipio_notificacao,id_regional,co_unidade_notificacao,...,plasmatico,evidencia,plaq_menor,complica,ds_obs,tp_sistema,tp_duplicidade,dt_digitacao,tp_fluxo_retorno,ds_identificador_registro
0,2586486,2,A90,01-10-2016,201602,2016,26,261160,1497.0,6530389,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,07-07-2016,1,4.0
1,2319522,2,A90,04-06-2016,201614,2016,26,261160,1497.0,6508960,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,07-07-2016,1,4.0
2,2293475,2,A90,02-01-2016,201605,2016,26,261160,1497.0,7775504,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,04-07-2016,0,6.0
3,2320326,2,A90,02-11-2016,201606,2016,26,261160,1497.0,28924,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,26-05-2016,1,4.0
4,2161354,2,A90,01-07-2016,201601,2016,26,261160,1497.0,6488315,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,26-02-2016,0,4.0

In [76]:
display(casos2017[:5])

,nu_notificacao,tp_notificacao,co_cid,dt_notificacao,ds_semana_notificacao,notificacao_ano,co_uf_notificacao,co_municipio_notificacao,id_regional,co_unidade_notificacao,...,alrm_hipot,alrm_plaq,alrm_vom,alrm_sang,alrm_hemat,alrm_abdom,alrm_letar,alrm_hepat,alrm_liq,dt_alrm
0,2445239,2,A90,1/2/17,201701,2017,26,261160,1497,2711923,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2593056,2,A90,1/10/17,201702,2017,26,261160,1497,1120,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2637131,2,A90,1/3/17,201701,2017,26,261160,1497,434,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2447041,2,A90,1/12/17,201702,2017,26,261160,1497,2802783,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2663542,2,A90,1/5/17,201701,2017,26,261160,1497,6726852,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
display(casos2018[:5])

,nu_notificacao,tp_notificacao,co_cid,dt_notificacao,ds_semana_notificacao,notificacao_ano,co_uf_notificacao,co_municipio_notificacao,id_regional,co_unidade_notificacao,...,co_distrito_infeccao,co_bairro_infeccao,no_bairro_infeccao,tp_classificacao_final,tp_criterio_confirmacao,st_doenca_trabalho,clinc_chik,tp_evolucao_caso,dt_obito,dt_encerramento
0,2839132,2,A90,1/5/18,201801,2018,26,261160,1497.0,1120,...,NaN,NaN,NaN,5.0,1.0,NaN,NaN,1.0,NaN,1/31/18
1,2922092,2,A90,1/26/18,201804,2018,26,261160,1497.0,2427427,...,NaN,NaN,NaN,5.0,2.0,NaN,NaN,1.0,NaN,3/28/18
2,2832586,2,A90,1/2/18,201801,2018,26,261160,1497.0,604,...,NaN,NaN,NaN,5.0,2.0,NaN,NaN,1.0,NaN,1/31/18
3,2702319,2,A90,3/31/18,201813,2018,26,261160,1497.0,434,...,NaN,NaN,NaN,5.0,2.0,NaN,NaN,NaN,NaN,4/27/18
4,2921081,2,A90,1/4/18,201801,2018,26,261160,1497.0,981,...,NaN,NaN,NaN,10.0,2.0,NaN,1.0,1.0,NaN,1/4/18

## Agrupando Todos os Dados

In [98]:
def UniaoDataframes(dataFrame1,dataFrame2,dataFrame3,dataFrame4,dataFrame5,dataFrame6):
    
    #convertendo os tipos para forçar a união
    dataFrame1 = dataFrame1[dataFrame1.columns.tolist()].astype('category')
    dataFrame2 = dataFrame2[dataFrame2.columns.tolist()].astype('category')
    dataFrame3 = dataFrame3[dataFrame3.columns.tolist()].astype('category')
    dataFrame4 = dataFrame4[dataFrame4.columns.tolist()].astype('category')
    dataFrame5 = dataFrame5[dataFrame5.columns.tolist()].astype('category')
    dataFrame6 = dataFrame6[dataFrame6.columns.tolist()].astype('category')
    
    dados1 = pd.merge(dataFrame1,dataFrame2,how='outer')
    dados2 = pd.merge(dataFrame3,dataFrame4,how='outer')
    dados3 = pd.merge(dataFrame5,dataFrame6,how='outer')
    
    # Como gerou novos dataframes temos que refazer a conversão
    dados1 = dados1[dados1.columns.tolist()].astype('category')
    dados2 = dados2[dados2.columns.tolist()].astype('category')
    dados3 = dados3[dados3.columns.tolist()].astype('category')
    
    
    dados_parcial = pd.merge(dados1,dados2,how='outer')
    
    # Como gerou novos dataframes temos que refazer a conversão
    dados_parcial = dados_parcial[dados_parcial.columns.tolist()].astype('category')
    
    dados = pd.merge(dados_parcial,dados3,how='outer')
    return dados

In [102]:
Dados = UniaoDataframes(casos2013,casos2014,casos2015,casos2016,casos2017,casos2018)
Dados

,nu_notificacao,tp_notificacao,co_cid,dt_notificacao,ds_semana_notificacao,notificacao_ano,co_uf_notificacao,co_municipio_notificacao,id_regional,co_unidade_notificacao,...,hematura,sangram,laco_n,plasmatico,evidencia,plaq_menor,complica,ds_obs,tp_sistema,nome_referencia
0,1224587,2,A90,2013/01/04 00:00:00,201301,2013,26,261160,1497.0,3008002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1411256,2,A90,2013/01/07 00:00:00,201302,2013,26,261160,1497.0,5540739,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1418852,2,A90,2013/02/20 00:00:00,201308,2013,26,261160,1497.0,6481876,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1292875,2,A90,2013/01/03 00:00:00,201301,2013,26,261160,1497.0,2517140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1416160,2,A90,2013/01/07 00:00:00,201302,2013,26,261160,1497.0,3008002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1411260,2,A90,2013/01/04 00:00:00,201301,2013,26,261160,1497.0,3008002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1292731,2,A90,2013/01/04 00:00:00,201301,2013,26,261160,1497.0,604,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1418749,2,A90,2013/01/05 00:00:00,201301,2013,26,261160,1497.0,6481876,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9837342,2,A90,2013/01/07 00:00:00,201302,2013,31,310620,NaN,2192896,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1291828,2,A90,2013/01/07 00:00:00,201302,2013,26,261160,1497.0,5540739,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1411259,2,A90,2013/01/07 00:00:00,201302,2013,26,261160,1497.0,3008002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1291914,2,A90,2013/01/03 00:00:00,201301,2013,26,261160,1497.0,20613,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1282756,2,A90,2013/01/08 00:00:00,201302,2013,26,261160,1497.0,2517140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1416416,2,A90,2013/01/21 00:00:00,201304,2013,26,261160,1497.0,2517132,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1367526,2,A90,2013/01/03 00:00:00,201301,2013,26,261070,1497.0,6443419,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1292794,2,A90,2013/01/10 00:00:00,201302,2013,26,261160,1497.0,604,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1189112,2,A90,2013/01/05 00:00:00,201301,2013,26,261160,1497.0,2517140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1346375,2,A90,2013/01/10 00:00:00,201302,2013,26,260960,1497.0,6390935,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1411258,2,A90,2013/01/10 00:00:00,201302,2013,26,261160,1497.0,3008002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1189113,2,A90,2013/01/07 00:00:00,201302,2013,26,261160,1497.0,3008002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1290429,2,A90,2013/01/09 00:00:00,201302,2013,26,261160,1497.0,20516,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1282780,2,A90,2013/02/08 00:00:00,201306,2013,26,261160,1497.0,6481876,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1292739,2,A90,2013/01/07 00:00:00,201302,2013,26,261160,1497.0,604,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1290428,2,A90,2013/01/14 00:00:00,201303,2013,26,261160,1497.0,20516,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1292795,2,A90,2013/01/11 00:00:00,201302,2013,26,261160,1497.0,604,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1291830,2,A90,2013/01/08 00:00:00,201302,2013,26,261160,1497.0,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1292931,2,A90,2013/01/07 00:00:00,201302,2013,26,261160,1497.0,6703437,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1411379,2,A90,2013/01/14 00:00:00,201303,2013,26,261160,1497.0,5540739,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1411354,2,A90,2013/01/08 00:00:00,201302,2013,26,261160,1497.0,2517140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1292873,2,A90,2013/01/14 00:00:00,201303,2013,26,261160,1497.0,3008002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61346,3115383,2,A90,1/8/19,201902,2019,26,261160,1497.0,434,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61347,3191837,2,A90,1/4/19,201901,2019,26,261160,1497.0,981,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61348,5449730,2,A90,1/14/19,201903,2019,35,354980,1354.0,2097613,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61349,3225828,2,A90,1/9/19,201902,2019,26,261160,1497.0,981,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61350,3176589,2,A90,1/9/19,201902,2019,26,261160,1497.0,20516,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61351,3170819,2,A90,1/16/19,201903,2019,26,261160,1497.0,531,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61352,3078330,2,A90,1/15/19,201903,2019,26,261160,1497.0,2802783,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61353,3204343,2,A90,1/8/19,201902,2019,26,260790,1497.0,6618464,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61354,3231760,2,A90,1/16/19,201903,2019,26,261070,1497.0,6443419,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61355,3219511,2,A90,1/16/19,201903,2019,26,260790,1497.0,2711990,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61356,3170340,2,A90,1/23/19,201904,2019,26,261160,1497.0,9480250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61357,3115438,2,A90,1/18/19,201903,2019,26,261160,1497.0,434,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61358,3231764,2,A90,1/17/19,201903,2019,26,261070,1497.0,6443419,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61359,3225852,2,A90,1/15/19,201903,2019,26,261160,1497.0,981,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61360,3174854,2,A90,1/14/19,201903,2019,26,261160,1497.0,671,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61361,3231761,2,A90,1/17/19,201903,2019,26,261070,1497.0,6443419,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61362,3176590,2,A90,1/17/19,201903,2019,26,261160,1497.0,20516,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61363,3231763,2,A90,1/17/19,201903,2019,26,261070,1497.0,6443419,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61364,3204344,2,A90,1/14/19,201903,2019,26,260790,1497.0,6618464,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61365,3081305,2,A90,1/21/19,201904,2019,26,260290,1497.0,6559379,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61366,3115411,2,A90,1/21/19,201904,2019,26,261160,1497.0,434,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61367,3225891,2,A90,1/28/19,201905,2019,26,261160,1497.0,981,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61368,3115449,2,A90,1/28/19,201905,2019,26,261160,1497.0,434,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61369,3078349,2,A90,1/30/19,201905,2019,26,261160,1497.0,2802783,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61370,3164322,2,A90,1/28/19,201905,2019,26,261160,1497.0,930,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61371,3115474,2,A90,1/28/19,201905,2019,26,261160,1497.0,434,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61372,3225881,2,A90,1/25/19,201904,2019,26,261160,1497.0,981,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61373,3225903,2,A90,1/30/19,201905,2019,26,261160,1497.0,981,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61374,3115498,2,A90,1/25/19,201904,2019,26,261160,1497.0,434,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61375,3116203,2,A90,2/1/19,201905,2019,26,261160,1497.0,477,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Criando a nova Base de Dados

In [103]:
Dados.to_csv('Dados_2013_2018.csv',index_label=False)